*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    height: 100vh;
    width: 100%;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(64, 63, 63);
    margin-bottom: 10px;
}
#photo-container{
    /* display: flex; */
    justify-content: center;
    align-items: center; 
    height: 70%;
    width: 70%;
    margin-left: 100px;
}